
#video_list{
	overflow-y: scroll;
}

a:hover{
	text-decoration: none;
}
a{
	color: rgb(61,59,59);
}
.active-video-link{
	color: rgb(206, 202, 196);
}
.active-video-link:hover{
	text-decoration: none;
	color: rgb(206,202,196);
}
.activevideo{
	background-color: lightgray;
}
